.form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  border-radius: 6px;
  background-color: #03be9f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  padding-bottom: 3rem; /* Increase padding at the bottom */
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.control {
  margin-bottom: 0.5rem;
  flex: 1;
  min-width: 10rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  text-align: left;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #dcfff9;
}

.form button {
  background-color: white !important;
  display: block; /* Ensures the button takes full width if needed */
  width: 100%; /* Optional: Makes it full width */
  padding: 0.5rem 1rem;
  margin-top: 1rem; /* Ensures spacing from the last input */
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: #f0f0f0;
}
